html(lang="en") 
  head 
    meta(charset="utf-8") 
    meta(name="viewport" , content="width=device-width , initial-scale=1.0") 
    meta(name="description" content="Trade your Gift Cards and Cryptocurrencies with us fast")
    meta(name="keyword" content="Drewallet, Gift Cards, Cryptocurrency, Bitcoin, ETH, Amazon, Wallet")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://drewallet.com/")
    meta(property="og:site_name" content="Drewallet")
    meta(property="og:title" content="Drewallet - Trade your Gift Cards and Cryptocurrencies with us fast")
    meta(property="og:description" content="DreWallet is a user friendly exchange platform, aimed at delivering the best exchange services. We currently buy various gift cards & crypto assets at the best market rate.")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="Drewallet")
    meta(name="twitter:description" content="Drewallet - Trade your Gift Cards and Cryptocurrencies with us fast")
    meta(name="twitter:url" content="https://drewallet.com/")
    meta(property="web-app-capable" content="yes")
    meta(name="theme-color" content="#03011f")
    meta(name="robots" content="no-follow")
    meta(name="application-name" content="Drewallet")
    title= title 
    link(href="/images/dre.png" rel="icon" type="image/png")
    link(href="/plugins/animate/animate.min.css" rel="stylesheet")
    link(href="/plugins/venobox/venobox.css" rel="stylesheet")
    link(href="/stylesheets/nucleo-icons.css" rel="stylesheet")
    link(rel='stylesheet' , href='/plugins/bootstrap/css/bootstrap.min.css')
    link(rel="stylesheet", href="/plugins/datatables/dataTables.bootstrap4.css")
    link(rel='stylesheet' , href='/plugins/fontawesome/css/font-awesome.min.css')
    script(src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous")