include includes/header.pug 
block content 
    link(rel="stylesheet", href="/stylesheets/dashboard.css")
    link(rel="stylesheet", href="/stylesheets/mainHome.css")
    body
        include includes/navbar.pug
        div(class="container guest_container")
            div(class="d-flex justify-content-between")
                h5.font-bold Enter Your Guest Details
                p #[a(href="/admin/all-guests" class="nav-link js-scroll nav-blue text-white btn side") All Guests #[i(class="fa fa-plus ml-1")]]
            .text-center
                if message
                    span.form-alertError.formAlert #{message}
            .row.justify-content-center
                .col-md-6
                    .form-field
                        form(method="POST" class="mt-4 text-center")
                            input(type="text" class="login_form input-control input_text mb-3" name="firstName" placeholder="First Name" required)
                            
                            input(type="text" class="login_form input-control input_text mb-3" name="lastName" placeholder="Last Name" required)
                            
                            select(class="login_form input-control input_text mb-3 custom-select" name="tableNumber" required)
                                option(value="" selected disabled="disabled") ------------
                                option(value="one") 1
                                option(value="two") 2
                                option(value="three") 3
                                option(value="four") 4
                                option(value="five") 5
                                option(value="six") 6
                                option(value="seven") 7
                                option(value="eight") 8
                                option(value="nine") 9
                                option(value="ten") 10
                            select(class="login_form input-control input_text mb-3 custom-select" name="extraGuest" placeholder="Extra Guest" required)
                                option(value="" selected disabled="disabled") ------------
                                option(value="none") 0
                                option(value="one") 1

                            div(class="text-center")
                                button(type="submit" class="form_button mt-4") Continue
    







    include includes/footer.pug 