.login_form{
box-sizing: border-box;
border-radius: 2px;
border: 1px solid #d8d7dc;
color: #172b70;
font-size: 18px;
padding: 22px 18px 20px;
width: 370px;
}
.login_form:focus{
border: 1px solid #6bd400;
box-shadow: 0 0 0 1px #6bd400;
outline: 0;
}
.login_form:active{
border: 1px solid #6bd400;
box-shadow: 0 0 0 1px #6bd400;
outline: 0;
}
.form_button{
background: #6bd400;
box-sizing: border-box;
border-radius: 5px;
border: 1px solid #d8d7dc;
color: #fff;
font-size: 18px;
padding: 22px 18px 20px;
width: 370px;
}
.form__button:hover {
background: #6bd400;
border-color: #6bd400;
}
.form__button:focus{
    background: #6bd400;
    border-color: #6bd400;
}
.form_text{
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.admin_note{
    color: #6bd400
}

.form-alertError{
    color: #f6303a;
  }
  .formAlert{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-bottom: 15px;
    justify-content: center;
  }
.guest_container{
    margin-top: 7rem;
}